<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsConsultaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54514/WsConsulta.asmx" binding="basicHttpBinding"
                bindingConfiguration="WsConsultaSoap" contract="WSSepd.WsConsultaSoap"
                name="WsConsultaSoap" />
        </client>
    </system.serviceModel>
</configuration>